[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin.git
[submodule "themes/hugo-paged"]
	path = themes/hugo-paged
	url = https://github.com/yihui/hugo-paged.git
